<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>HMAR Home</title>{% endblock %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="{% url 'home' %}">Home</a>
        <a class="active" href="{% url 'login' %}">Login</a>

        {% block pagename %}
        <p> This is the HMAR Landing page</p>
        {% endblock pagename %}

        {% block content %}
        {% endblock content %}

    </div>

</body>

</html>