<!DOCTYPE html>
<html lang="en">
  <head>

  </head>
  <body>
     <button type="button" onclick="window.location.href='sighting/'">Report A Sighting</button>
     <button type="button" onclick="window.location.href='emergency/'">Emergency</button>

      <!--this one takes you to google.com after pressing it.
Replacing the link in the action="" can take you to another page-->
    <br>
    It will actually take you to google
    <form action="login/">
    <input type="submit" value="Login" />
</form>


  </body>
</html>